# Ignore node modules
node_modules
attached_assets

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
# .env
.env.local

# Build output
dist
.next
out

# OS/System files
.DS_Store
Thumbs.db

# Replit & IDE configs
.replit
replit.md
.vscode
*.swp

# Git-related
.git
.gitignore

# Secrets
secrets.txt